<span class="card-body flex flex-col" role="contentinfo" aria-label="Project credits">
  <div>
    By
    <a
      href="https://github.com/Tjorbenn"
      class="pointer-events-auto mx-1 font-semibold"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Visit Tjorben Nawroth's GitHub profile"
    >
      Tjorben Nawroth</a
    >
  </div>
  <div>
    @
    <a
      href="https://evolbioinf.github.io"
      class="pointer-events-auto mx-1 font-semibold"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Visit website of the research group Bioinformatics"
      >RG Bioinformatics</a
    >
  </div>
</span>
