<div class="hidden flex-row items-center gap-2 px-2 lg:flex">
  <span class="flex flex-col">
    <div>
      By
      <a
        href="https://github.com/Tjorbenn"
        class="pointer-events-auto mx-1 font-semibold"
        target="_blank"
        rel="noopener noreferrer"
      >
        Tjorben Nawroth</a
      >
    </div>
    <div>
      @
      <a
        href="https://evolbioinf.github.io"
        class="pointer-events-auto mx-1 font-semibold"
        target="_blank"
        rel="noopener noreferrer"
        >RG Bioinformatics</a
      >
    </div>
  </span>
</div>
