<button
  class="btn btn-neutral border-none rounded-none rounded-l-[inherit] animated focus:outline-none capitalize"
  id="taxonomy-type-button"
  popovertarget="taxonomy-type-popover"
>
  <span id="taxonomy-type-label"></span>
  <span class="icon-[material-symbols--arrow-drop-down-rounded]"></span>
</button>
<ul
  class="dropdown card bg-primary/2 backdrop-blur-xs menu shadow-lg animated"
  popover="auto"
  id="taxonomy-type-popover"
  anchor="taxonomy-type-button"
  style="left: anchor(-25%); top: anchor(120%)"
>
  <li class="menu-title">Taxonomy Type</li>
</ul>
