<button
  class="btn btn-neutral animated join-item border-none capitalize focus:outline-none"
  id="taxonomy-type-button"
  popovertarget="taxonomy-type-popover"
>
  <span id="taxonomy-type-label"></span>
  <span class="icon-[material-symbols--arrow-drop-down-rounded]"></span>
</button>
<ul
  class="dropdown card card-border bg-base-100/40 menu animated shadow-lg backdrop-blur-sm"
  popover="auto"
  id="taxonomy-type-popover"
  anchor="taxonomy-type-button"
  style="left: anchor(-25%); top: anchor(120%)"
>
  <li class="menu-title">Taxonomy Type</li>
</ul>
