<div class="select">
  <button
    type="button"
    class="btn-primary"
    id="taxonomy-type-select-button"
    aria-haspopup="listbox"
    aria-controls="taxonomy-type-select-listbox"
    aria-expanded="false"
  ></button>
  <div
    data-popover
    aria-hidden="true"
    id="taxonomy-type-select-popover"
  >
    <header>Taxonomy Type</header>
    <div
      id="taxonomy-type-select-listbox"
      aria-labelledby="taxonomy-type-options"
      role="listbox"
    ></div>
  </div>
  <input
    type="hidden"
    value=""
  />
</div>
