<table
  id="suggestions-table"
  class="card-body animated table"
  role="table"
  aria-label="Taxonomy search suggestions"
>
  <tbody id="suggestions-body" class="animated" role="rowgroup"></tbody>
  <tfoot
    id="suggestions-loader"
    class="animated hidden opacity-0"
    role="rowgroup"
    aria-hidden="true"
  >
    <tr id="suggestions-loader-row" class="border-base-300 border-t" role="row">
      <td role="cell">
        <div class="skeleton inline-block h-4 w-40" aria-label="Loading"></div>
      </td>
      <td role="cell">
        <div class="skeleton inline-block h-4 w-50" aria-label="Loading"></div>
      </td>
      <td class="text-right" role="cell">
        <div class="skeleton inline-block h-4 w-20" aria-label="Loading"></div>
      </td>
    </tr>
  </tfoot>
</table>
