<table id="suggestions-table" class="card-body animated table">
  <tbody id="suggestions-body" class="animated"></tbody>
  <tfoot id="suggestions-loader" class="animated hidden opacity-0">
    <tr id="suggestions-loader-row" class="border-base-300 border-t">
      <td>
        <div class="skeleton inline-block h-4 w-40"></div>
      </td>
      <td>
        <div class="skeleton inline-block h-4 w-50"></div>
      </td>
      <td class="text-right">
        <div class="skeleton inline-block h-4 w-20"></div>
      </td>
    </tr>
  </tfoot>
</table>
