<search class="relative w-full">
  <fieldset
    class="card card-border animated bounce bounce-within join flex w-full max-w-full flex-row shadow-lg"
  >
    <taxonomy-type class="join-item"></taxonomy-type>
    <label
      id="search-input-label"
      class="input join-item bg-base-100/40 grow border-none !shadow-none backdrop-blur-sm focus-within:outline-none"
    >
      <span class="icon-[material-symbols--search-rounded] text-[1.5em]"></span>
      <input type="search" id="search-input" placeholder="Search taxa..." />
      <div>
        <kbd class="kbd kbd-sm bg-accent text-accent-content">CTRL</kbd>
        +
        <kbd class="kbd kbd-sm bg-accent text-accent-content">K</kbd>
      </div>
    </label>
    <button id="visualize-button" type="submit" class="btn btn-primary join-item border-none">
      Visualize
    </button>
  </fieldset>
  <section
    class="animated pointer-events-none absolute right-0 left-0 mt-4 flex flex-col items-center gap-4"
  ></section>
</search>
