<ul class="card-body flex flex-col items-stretch gap-2">
  <hgroup
    id="taxon-popover-header"
    class="card-title flex flex-row items-center justify-between gap-2"
  >
    <span id="taxon-name" class="text-primary tooltip m-0 text-lg" data-tip="Name"></span>
    <span id="taxon-id" class="badge badge-primary badge-xs tooltip" data-tip="ID"></span>
  </hgroup>
  <div id="taxon-popover-head" class="flex flex-row items-center justify-center gap-2">
    <div id="rank" class="stats">
      <div class="stat px-4">
        <div class="stat-title">Rank</div>
        <div class="stat-value text-neutral capitalize"></div>
        <div class="stat-figure text-primary drop-shadow-lg"></div>
      </div>
    </div>
  </div>
  <div class="card card-border bg-base-100 mx-4 p-0 shadow-sm [&:has(tbody:empty)]:hidden">
    <div class="card-body p-0">
      <table id="genomes-table" class="table-sm table">
        <thead>
          <tr>
            <th>Level</th>
            <th>Direct</th>
            <th>Recursive</th>
          </tr>
        </thead>
        <tbody id="genomes-body"></tbody>
        <tfoot>
          <tr>
            <td class="text-start">
              <label
                title="Toggle file type"
                class="swap swap-rotate text-accent tooltip tooltip-left"
                data-tip="Toggle file type"
              >
                <input id="accessions-filetype" type="checkbox" class="swap-toggle" />
                <span class="swap-off badge badge-sm badge-accent">TSV</span>
                <span class="swap-on badge badge-sm badge-accent">CSV</span>
              </label>
            </td>
            <td class="text-center">
              <button class="btn btn-sm btn-ghost" id="accessions-download-direct">
                <span class="" style="width: 1.5em; height: 1.5em"></span>
              </button>
            </td>
            <td class="text-center">
              <button class="btn btn-sm btn-ghost" id="accessions-download-recursive">
                <span
                  class="icon-[material-symbols--download-rounded]"
                  style="width: 1.5em; height: 1.5em"
                ></span>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div id="taxon-popover-actions" class="card-actions mt-4 flex flex-row justify-between">
    <button class="btn btn-primary btn-xs tooltip" data-tip="Fetch Parent" id="parent-button">
      <span class="icon-[material-symbols--arrow-upward-rounded]"></span>
      Parent
    </button>
    <button
      class="btn btn-neutral btn-circle btn-xs tooltip"
      data-tip="Collapse/Expand"
      id="collapse-button"
    >
      <span
        class="icon-[material-symbols--expand-content-rounded]"
        style="width: 2em; height: 2em"
      ></span>
    </button>
    <button class="btn btn-primary btn-xs tooltip" data-tip="Fetch Children" id="children-button">
      Children
      <span class="icon-[material-symbols--arrow-downward-rounded]"></span>
    </button>
  </div>
</ul>
